{
  "presets":[
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "browsers":[
            "last 1 years"
          ]
        }
      }
    ],
    "@babel/preset-react"
  ], 
  "plugins": []
}
