@import '~normalize.css';

$base-color:#666;
$light-color:#999;
$dark-color:#333;

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
}

a {
  color: initial;
}

a:link {
  text-decoration: none;
}

@for $i from 1 through 6 {
  h#{$i} {
    color: #333;
  }
}

div,
p {
  color: #666;
}

.text-light {
  color: $light-color;
}

.text-dark {
  color: $dark-color;
}
